/* Untuk tablet */
@media all and (max-width: 1000px) {
    main {
        padding-bottom: 40px;
    }

    .heading {
        padding-top: 64px;
        padding-bottom: 32px;
    }

    .heading h1 {
        font-size: 28px;
    }

    .food {
        font-size: 14px;
    }

    .food-pic {
        flex-wrap: wrap;
        min-width: 160px;
    }

    .food-pic p {
        /* display: none; */
        /* top: 80%; */
        top: auto;
        bottom: 8%;
    }

    .food-text {
        /* display: inline-block; */
    }

    .lihat-menu {
        float: none;
    }

}

/* Untuk smartphone */
@media all and (max-width: 670px) {
    .btn {
        width: 100%;
    }

    main {
        padding-bottom: 24px;
    }

    .heading {
        padding-top: 48px;
        padding-bottom: 16px;
    }

    .heading h1 {
        font-size: 24px;
    }

    .food {
        font-size: 12px;
    }

    .food-pic {
        flex-wrap: wrap;
        min-width: 120px;
    }

    .food-pic p {
        display: none;
    }

    .food-text {
        display: inline-block;
    }

    .lihat-menu {
        float: none;
    }

}
