/* Untuk tablet */
@media all and (max-width: 1000px) {
    main {
        padding-bottom: 40px;
    }

    .heading {
        padding-bottom: 30px;
    }

    .heading h1 {
        font-size: 28px;
    }

    .food {
        font-size: 14px;
    }

    .food-pic {
        flex-wrap: wrap;
        max-width: 160px;
    }

    .food-pic p {
        display: none
    }

    .food-text {
        display: inline-block;
    }

    .lihat-menu {
        float: none;
    }

}

/* Untuk smartphone */
@media all and (max-width: 670px) {
    .btn {
        width: 100%;
    }

    main {
        padding-bottom: 24px;
    }

    .heading {
        padding-bottom: 10px;
    }

    .heading h1 {
        font-size: 24px;
    }

    .food {
        font-size: 12px;
    }

    .food-pic {
        flex-wrap: wrap;
        max-width: 120px;
    }

    .food-pic p {
        display: none;
    }

    .food-text {
        display: inline-block;
    }

    .lihat-menu {
        float: none;
    }

}
